.board {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.board .board-left,
.board .board-right {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  display: inline-block;
  font-size: 1em;
}

.board-left {
  background-color: #ddd;
}

.board-right {
  background-color: #ccc;
}
