<div class="container">

  <!-- Waiting Room -->
  <div class="col-md-6 col-md-offset-3 waiting-top">
    <div class="waiting-content-container">
      <h1>Waiting</h1>
      <div class="queue-controls" ng-show="Waiting.lfGet('whereTo') === 'queue'">
        queue
      </div>
      <div class="private-controls" ng-show="Waiting.lfGet('whereTo') === 'private'">
        <button ng-click="Waiting.showCancelGameForm = !Waiting.showCancelGameForm">Cancel Your Private Game</button>

        <form>
          <div ng-show="Waiting.showCancelGameForm">
            <label>enter join code</label>
            <!--TODO:create model object in controller and pass to emit event on btn click-->
            <input ng-model='joinCode'>
            <button type="submit" ng-click="Waiting.cancelRoom(joinCode)">enter</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Player1 -->
  <div class="col-md-4 col-md-offset-2">
    <div class="waiting-content-container waiting-left">
      <h1>content1</h1>
    </div>
  </div><!-- End player1 -->

  <!-- Player2 -->
  <div class="col-md-4">
    <div class="waiting-content-container waiting-right">
      <h1>content2</h1>
    </div>
  </div><!-- End player2 -->
</div>


</br>

<button ng-click="Waiting.removeFromQueue()">BOUNCE THE Q</button>




<div>PLAYER 1 NAME = {{Waiting.playerOneName()}}</div><br>
<div>rank = {{Waiting.playerOneMMR()}}</div><br>
<div>PLAYER 2 NAME = {{Waiting.playerTwoName()}}</div><br>
<div>rank = {{Waiting.playerTwoMMR()}}</div><br>
