<div class="admin-bar">
	<div class="container">
		<div class="col-md-12">
			<h1>Society <span>The Game</span></h1>
			<!--START Music Control -->
    	<div audio options="options"></div>
			<!--END Music Control -->
			<div class="admin-bar-right">
				<i class="fa fa-user" aria-hidden="true"></i>
				<a href="" ng-click="Lobby.signOut()">Sign Out</a>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="col-md-4">
		<div class="sidebar lobby-left lobby-content-container">
			<h2>Queue</h2>
			<button class="block red" ng-click="Lobby.toggleQueueWarning()">Queue for a match</button>
			<div ng-show="Lobby.showPreQueueWarning">
			WARNING:  You are about to enter a ranked matchmaking queue which you may not leave without being penalized!  We will pair you with another user with similar skill level.  An average game is a little less than 3 minutes, but can last up to 8 minutes.  Please allot enough time to better user experience for both players. 
			<button ng-click="Lobby.queue()">Confirm</button>
			<button ng-click="Lobby.toggleQueueWarning()">Decline</button>
			</div>
			<div class="input-wrapper error-message" ng-if="Lobby.getErrorMessage('joinQueueErrorMessage')">{{Lobby.getErrorMessage('joinQueueErrorMessage')}}</div>
			<h2>Custom Game</h2>
			<button class="block blue" ng-click="Lobby.showCreateGameController = !Lobby.showCreateGameController">create private game</button>

			<form>
				<div ng-show="Lobby.showCreateGameController">
					<!--TODO:create model object in controller and pass to emit event on btn click-->
					<div class="input-wrapper">
						<input class="code-input" ng-model='Lobby.joinCode' placeholder="Enter Custom Code">
						<button class="inline-block red" ng-click="Lobby.createRoom(Lobby.joinCode)">create</button>
						<div class="input-wrapper error-message" ng-if="Lobby.getErrorMessage('joinCodeErrorMessage')">{{Lobby.getErrorMessage('joinCodeErrorMessage')}}</div>
					</div>
				</div>
			</form>

			<button class="block green" ng-click="Lobby.showJoinGameController = !Lobby.showJoinGameController">join private game</button>

			<form>
				<div ng-show="Lobby.showJoinGameController">
					<!--TODO:create model object in controller and pass to emit event on btn click-->
					<div class="input-wrapper">
						<input class="code-input" ng-model='joinCode' placeholder="Enter Join Code">
				  	<button class="inline-block red" ng-click="Lobby.joinRoom(joinCode)">join</button>
				  	<div class="input-wrapper error-message" ng-if="Lobby.getErrorMessage()">{{Lobby.getErrorMessage()}}</div>
					</div>
				</div>
			</form>

		</div><!-- End sidebar -->

		<div class="sidebar lobby-left lobby-content-container">

			<h2>My Avatar</h2>
			<div class="my-avatar">
				<i class="fa fa-hand-{{Lobby.get('avatar')}}-o fa-lg" aria-hidden="true"></i>
			</div>


			<button class="block red" ng-click="Lobby.showAvatars = !Lobby.showAvatars">Change Avatar</button>

			<div ng-show="Lobby.showAvatars">
				<h2>Options</h2>
				<div class="change-avatar-container">
					<div class="avatars-available" id="rock" ng-click="Lobby.setNewAvatar('rock')"  ng-class="{'avatar-clicked': Lobby.get('tempAvatar') === 'rock'}" ng-show="'rock' !== Lobby.myAvatar()">
						<i class="fa fa-hand-rock-o fa-lg" aria-hidden="true"></i>
					</div>

					<div class="avatars-available" id="paper" ng-click="Lobby.setNewAvatar('paper')"  ng-class="{'avatar-clicked': Lobby.get('tempAvatar') === 'paper'}" ng-show="'paper' !== Lobby.myAvatar()">
						<i class="fa fa-hand-paper-o fa-lg" aria-hidden="true"></i>
					</div>

					<div class="avatars-available" id="scissors" ng-click="Lobby.setNewAvatar('scissors')"  ng-class="{'avatar-clicked': Lobby.get('tempAvatar') === 'scissors'}" ng-show="'scissors' !== Lobby.myAvatar()">
						<i class="fa fa-hand-scissors-o fa-lg" aria-hidden="true"></i>
					</div>

					<div class="avatars-available" id="lizard" ng-click="Lobby.setNewAvatar('lizard')"  ng-class="{'avatar-clicked': Lobby.get('tempAvatar') === 'lizard'}" ng-show="'lizard' !== Lobby.myAvatar()">
						<i class="fa fa-hand-lizard-o fa-lg" aria-hidden="true"></i>
					</div>

					<div class="avatars-available" id="spock" ng-click="Lobby.setNewAvatar('spock')"  ng-class="{'avatar-clicked': Lobby.get('tempAvatar') === 'spock'}" ng-show="'spock' !== Lobby.myAvatar()">
						<i class="fa fa-hand-spock-o fa-lg" aria-hidden="true"></i>
					</div>

					<button class="inline-block-small red" ng-click="Lobby.updateAvatar({email: Lobby.get('player').email, avatar: Lobby.get('tempAvatar')}); Lobby.showAvatars = !Lobby.showAvatars">Update</button>
				</div>

				

				<!-- CHANGE MY AVATAR TO THE ONE CLICKED -->

			</div>
		</div>

	</div><!-- End bootstrap column -->

	<div class="col-md-8">
		<div class="lobby-right lobby-content-container">
			<h1>Player Stats</h1>

			<div>
				{{Lobby.get('player')}}
				<p>username</p>
				<p>mmr</p>
				<p>wins</p>
				<p>losses</p>
			</div>
		</div>

		<div class="lobby-right lobby-content-container">
			<h1>Leader Board</h1>

			<div ng-repeat="users in Lobby.getLeaderboard()">
			<div>username:{{users.username}}</div>
			<div>mmr:{{users.mmr}}</div>
			<div>wins:{{users.wins}}</div>
			<div>losses:{{users.losses}}</div>
			</div>
		</div>
	</div>
</div>