/*@import url(https://fonts.googleapis.com/css?family=Bree+Serif);*/

.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: relative;
  top: 0;
  left: 0;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.logo {
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size: 400%;
	/*height: 50%;*/
	color: white;
}

h2 {
	font-family: 'Bree Serif', serif;
	text-align: center;
	color: white;
}

.link {
	text-decoration: none;
	color: hotpink;
}

li {
	list-style: none;
	margin-bottom: 5px;
}

.submit-btn {
	text-align: center;
}



