
<h3>Messages</h3>

 <span>{{Lobby.get('player').username}}</span>

<button ng-click="Chat.sendMessage()">SEND</button>
<!--<div class="message-well">-->
<!--&lt;!&ndash; ngRepeat: message in messages &ndash;&gt;-->
<!--<p ng-repeat="message in messages" ng-class="message.me">{{message}}</p>-->

<!--</div>-->


<!--<div class = "form-container">-->
<!--<form ng-submit="sendMessage()">-->

<!--<input ng-model="message" placeholder="Message">-->
<!--<input type="submit" value="Send" style="margin-left: 10px;margin-top: 0">-->

<!--</form>-->
<!--</div>-->

<!--<div class="span2">-->
<!--<h3>Users</h3>-->
<!--<div class="well">-->
<!--<ul class="nav nav-list">-->
<!--&lt;!&ndash; ngRepeat: user in users &ndash;&gt;-->
<!--<li ng-repeat="user in users" class="ng-scope"> </li>-->
 <!--</ul>-->
 <!--</div>-->
 <!--</div>-->

