button {
  outline: 0;
  border: 0;
  border-radius: 3px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

button:hover {
  cursor: pointer;
}

button:active {
  top: 3px;
}

button.block {
  display: block;
  width: 100%;
}

button.yellow {
  color: $brown;
  background-color: $yellow;
  box-shadow: 0 3px 0 0 $yellow-d1;
  text-shadow: 0 1px 0 $yellow-l2;
}

button.yellow:hover {
  background-color: $yellow-l1;
}

button.yellow:active {
  background-color: $yellow-d1;
  box-shadow: 0 -3px 0 0 $yellow-d2;
}

button.red {
  background-color: $red;
}

button.blue {
  background-color: $blue;
}

button.green {
  background-color: $green;
}

div.input-wrapper {
  width: 100%;
  display: inline-block;
}

.code-input {
  width: 65%;
  height: 35px;
  border-radius: 3px;
  display: inline-block;
  background-color: white;
  margin-right: 5px;
}

.inline-block {
  width: 30%;
  height: 35px;
  padding: 0px;
  margin: 0px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  display: inline-block;
}

.error-message {
  text-align: center;
  margin-bottom: 10px;
}
