* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

//colors

$white: #fff;

$yellow-l2: #FCD197;
$yellow-l1: #F7C17C;
$yellow: #FFBC66;
$yellow-d1: #C98B3A;

$red: #DA6876;

$blue: #45ABC3;

$green: #45C3A1;

$brown: #664923;

// animations

$defaultTransition: all linear 0.2s;
$fastTransition: all linear 0.05s;

$borderTransition: background-color linear 0.2s;

// hyperlinks

a {
  opacity: 0.8;
  transition: $defaultTransition;
}

a:hover {
  opacity: 1;
}

// buttons

button {
  outline: 0;
  border: 0;
  border-radius: 3px;
  padding: 12px 25px;
  text-transform: uppercase;
  transition: $borderTransition;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

button.block {
  display: block;
  width: 100%;
}

button.yellow {
  color: $brown;
  background-color: $yellow;
  box-shadow: 0 3px 0 0 $yellow-d1;
  text-shadow: 0 1px 0 $yellow-l2;
}

button.yellow:hover {
  background-color: $yellow-l1;
}

button.red {
  background-color: $red;
}

button.blue {
  background-color: $blue;
}

button.green {
  background-color: $green;
}
