<img src="https://media.giphy.com/media/EpB8oRhHSQcnu/giphy.gif" alt="" class="bg">

<div class="centered">
	<h1 class="logo">society</h1>
	<h2><a href="" ng-click="Auth.signupForm=true ; Auth.signinForm=false" class="link">Sign Up</a> | <a href="" ng-click="Auth.signinForm=true ; Auth.signupForm = false" class="link">Sign In</a></h2>

	<ul ng-show="Auth.signupForm">
		<li>
			<input type="text" placeholder="Username" class="input" ng-model="Auth.username">
		</li>
		<li>
			<input type="text" placeholder="Email" class="input" ng-model="Auth.email">
		</li>
		<li>
			<input type="text" placeholder="Password" class="input" ng-model="Auth.password">
		</li>
		<li>
			<input type="submit" class="submit-btn" class="input" ng-click="Auth.signup({username: Auth.username, email: Auth.email, password: Auth.password})">
		</li>
	</ul>
	
	<ul ng-show='Auth.signinForm'>
		<li><input type="text" placeholder="Email" ng-model="email2"></li>
		<li><input type="text" placeholder="Password" ng-model="password2"></li>
		<li><input type="submit" class="submit-btn"></li>
	</ul>
</div>






