.admin-bar {
  position: relative;

  h1 {
    font-size: 24px;
    margin: 0;

    span {
      opacity: 0.6;
      font-size: 16px;
      position: relative;
      top: -2px;
      margin-left: 8px;
    }
  }

  .admin-bar-right {
    position: absolute;
    right: 15px;
    top: 6px;
    text-align: right;
  }

  .username {
    margin-right: 10px;
  }
}
