<div ng-show="Bf.get('matchOver')" class="game-over overlay">
  <h1>Game Over</h1>
</div>

<div class="board">

  <!-- Timer -->
  <div class="timer-container">
    <div class="timer">
      <h1>10</h1>
    </div>
  </div>

  <!-- Board Left -->
  <div class="board-left player">

    <div class="player-stats">
      <p class="username">JohnDoe</p>
      <p class="stat wins"><span>Wins </span> 24,581</p>
      <p class="stat losses"><span>Losses </span> 19,950</p>
      <p class="stat winPerc"><span>Win % </span> 55.20%</p>
    </div>
    
    <div class="tile-container">

      <div class="status-container">
        <div class="status">
          <h1 ng-show="Bf.get('results')">{{Bf.get('roundWinner') === Bf.get('player').id ? 'Win' : 'Lose'}}</h1>
        </div>
      </div>

      <div ng-repeat="choice in Bf.choices" class="tile-pos" id="{{choice}}">
        <div class="health health-{{Bf.get('player').health[choice] || 0}}">
          <div class="tile" 
            ng-mouseenter="Bf.currentHover = choice"
            ng-mouseleave="Bf.currentHover = ''"
            ng-class="{
              dead: Bf.get('player').health[choice] === 0,
              active: Bf.get('player').choice === choice 
            }"
            ng-click="Bf.setChoice(choice)">{{choice}}</div>
        </div>
      </div>
      
    </div>

  </div><!-- 

  Board Right

  DO NOT remove this comment. It will mess up the layout.
  
  --><div class="board-right opponent">

    <div class="player-stats">
      <p class="username">JohnDoe</p>
      <p class="stat wins"><span>Wins: </span> 24,581</p>
      <p class="stat losses"><span>Losses: </span> 19,950</p>
      <p class="stat winPerc"><span>Win %: </span>55.20%</p>
    </div>
    
    <div class="tile-container">

      <div class="status-container">
        <div class="status">
          <h1 ng-show="Bf.get('results')">{{Bf.get('roundWinner') === Bf.get('opponent').id ? 'Win' : 'Lose'}}</h1>
        </div>
      </div>

      <div ng-repeat="choice in Bf.choices" class="tile-pos" id="{{choice}}">
        <div class="health health-{{Bf.get('opponent').health[choice] || 0}}">
          <div class="tile"
            ng-class="{
              lose: Bf.currentHover === Bf.losesAgainst(choice)[0] || Bf.currentHover === Bf.losesAgainst(choice)[1]
            }"
          >{{choice}}</div>
        </div>
      </div>

    </div>

  </div>
</div>



<!-- <button ng-disabled="Bf.get('submitted') || Bf.get('matchOver')" ng-repeat="choice in Bf.choices" ng-click="Bf.setChoice(choice)">{{choice}}</button>

<p>Timer</p>
<h3>{{Bf.get('time')}}</h3>

<p>Your Health:</p>
<ul>
  <li ng-repeat="(choice, health) in Bf.getHealth('player')">{{choice}}: {{health}}</li>
</ul>

<p>Opponent Health:</p>
<ul>
  <li ng-repeat="(choice, health) in Bf.getHealth('opponent')">{{choice}}: {{health}}</li>
</ul>

<p>This is your choice:</p>
<div>{{Bf.getChoice('player')}}</div>

<p>This is your opponent's choice:</p>
<div>{{Bf.getChoice('opponent')}}</div>

<p>Round Winner:</p>
<div>{{Bf.get('roundWinner')}}</div>
 -->
